{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-3" id="bucket-sidebar">
                <ul>
                    {% for bucket in buckets %}
                        <li>
                            <a href="{{ path('item_new', { 'bucket': bucket.id }) }}">{{ bucket.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-9">
                {% for entity in entities %}
                    <div>
                        <div>
                        {% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}
                        <strong>{{ entity.title }}</strong></div>
                        {{ entity.content }}

                        <ul>
                            <li>
                                <a href="{{ path('item_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('item_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>

                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
