{% extends '::base.html.twig' %}

{% block body -%}
    {% include 'AppBundle::menu.html.twig' %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% for entity in entities %}
            <div>
                <div>
                {% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}
                <strong>{{ entity.title }}</strong></div>
                <div style="padding:15px;">
                {{ entity.content }}
                </div>
                <ul>
                    <li>
                        <a href="{{ path('item_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('item_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>

            </div>
        {% endfor %}
    </div>

{% endblock %}
