{% extends '::base.html.twig' %}

{% block body -%}
    {% include 'AppBundle::menu.html.twig' %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            <div class="col-md-6">
                <h3>
                    <span class="label label-success">
                        <a href="{{ path('bucket_show', { 'id': bucket.id }) }}" style="color:#fff;">        
                            {{ bucket.name }}
                        </a>
                    </span>
                </h3>
            </div>
            <div class="col-md-6 text-right" style="padding: 15px;">
                <a href="{{ path('item_new', { 'bucket': bucket.id }) }}" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item
                </a>
            </div>
            <div class="row">
                <hr>
                <br /><br />
            </div>
        </div>

        <div class="row">
                <div class="thumbnail">
                    <h4 style="padding-left:15px;">{{ item.title }}
                        <small>
                            {{ item.updated|date('d/m/Y H:i:s') }} 
                            <a href="{{ path('item_edit', { 'id': item.id }) }}" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                            </a>
                        </small>
                    </h4>

                    <div class="caption">
                        <div class="jumbotron" style="padding:15px;">
                            {{ item.content|markdown }}
                        </div>
                        {{ form(delete_form) }}
                    </div>
                </div>
        </div>
    </div>

{% endblock %}
