<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Bucket{% endblock %}</title>
    {% block stylesheets %}
    <link rel="shortcut icon" href="/bundles/app/bucket.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        {% stylesheets 'bundles/app/toopay-bootstrap-markdown/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 20px;
                /* background-color: #3E313C; */
                background-color: #FFF;
            }
            .navbar {
                margin-bottom: 30px;
                min-height: 60px;
            }
            .navbar-brand {
                height:60px;
                line-height: 30px;
            }
            .form-control {
                height:44px;
            }
            .jumbotron p {
                font-size: 14px;
                word-wrap: break-word;
            }
            .row {
                margin-left: 0px;
                margin-right: 0px;
            }

            #main-msg {
                padding-top: 100px;
            }

            .navbar-inverse {
                background-image: linear-gradient(to bottom, #000 0px, #000 100%);
                background-color: #000;
            }


            /*
             * Global add-ons
             */

            .sub-header {
                padding-bottom: 10px;
                border-bottom: 1px solid #eee;
            }

            /*
             * Top navigation
             * Hide default border to remove 1px line.
             */
            .navbar-fixed-top {
                border: 0;
            }

            /*
             * Sidebar
             */

            /* Hide for mobile, show later */
            .sidebar {
                display: none;
            }
            @media (min-width: 768px) {
                .sidebar {
                    position: fixed;
                    top:40px;
                    bottom: 0;
                    left: 0;
                    z-index: 1000;
                    display: block;
                    padding: 20px;
                    overflow-x: hidden;
                    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
                    background-color: #f5f5f5;
                    border-right: 1px solid #eee;
                }
            }

            /* Sidebar navigation */
            .nav-sidebar {
                margin-right: -21px; /* 20px padding + 1px border */
                margin-bottom: 20px;
                margin-left: -20px;
            }
            .nav-sidebar > li > a {
                padding-right: 20px;
                padding-left: 20px;
            }
            .nav-sidebar > .active > a,
            .nav-sidebar > .active > a:hover,
            .nav-sidebar > .active > a:focus {
                color: #fff;
                background-color: #428bca;
            }


            /*
             * Main content
             */

            .main {
                padding: 20px;
            }
            @media (min-width: 768px) {
                .main {
                    padding-right: 40px;
                    padding-left: 40px;
                }
            }
            .main .page-header {
                margin-top: 0;
            }



        </style>
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand lyphicon" href="/bucket">
            <img src="/bundles/app/bucket.png" width="30" height="30" border="0" style="float:left;padding-right:4px;" />Buckets</a>
            <ul class="nav navbar-nav">
            </ul>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <form class="navbar-form navbar-left" action="/search" method="get">
            <input type="text" class="form-control" placeholder="Search..." name="searchKey">
          </form>
          {% endif %}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/profile">Hi {{ app.user.username }}</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            {% else %}
                <form action="{{ path("fos_user_security_check") }}" method="post" class="navbar-form navbar-right">
                    <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />

                    <div class="form-group">
                        <input type="text" id="username" name="_username" placeholder="Email" class="form-control" required="required" />
                    </div>

                    <div class="form-group">
                        <input type="password" id="password" name="_password" placeholder="Password" class="form-control" required="required" />
                    </div>

                    <button type="submit" id="_submit" name="_submit" class="btn btn-success">Sign in</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>


{% block body %}
<div class="container-fluid">
    <div class="row">
    {% block content %}
        <div class="row">
            <div class="large-9 large-centered columns">
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    {% endblock %}
    </div>
</div>
{% endblock %}


{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% javascripts 'bundles/app/toopay-bootstrap-markdown/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
