{% extends '::base.html.twig' %}

{% block body -%}
    {% include 'AppBundle::menu.html.twig' %}

    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                <h3><span class="label label-success">{{ entity.name }}</span></h3>
            </div>
            <div class="col-md-6 text-right" style="padding: 15px;">
                <a href="{{ path('item_new', { 'bucket': entity.id }) }}" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item
                </a>
            </div>
            <div class="row">
            <hr>
                <br /><br />
            </div>
        </div>

        <div class="row">
        {% for elementItem in allItems %}
            <div class="thumbnail">
                <h4 style="padding-left:15px;">{{ elementItem.title }}
                    <small>
                        {{ elementItem.updated|date('d/m/Y H:i:s') }} -
                        <a href="{{ path('item_edit', { 'id': entity.id }) }}">
                            Edit
                        </a>
                    </small>
                </h4>

                <div class="caption">
                    <div class="jumbotron" style="padding:15px;">
                        {{ elementItem.content|markdown }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
